
<div class="row">
  <div class="col-md-6 menu-content">

    <div class="header-content">
      <h1>Welcom</h1>
    </div>

    <div class="hp-dropdown-menu">
      <a class="dropdown-item" href="#">Home <i class="fa fa-angle-right"></i></a>
      <a class="dropdown-item" href="#">Press Instalation <i class="fa fa-angle-right"></i></a>
      <a class="dropdown-item" href="#">Menu 3 <i class="fa fa-angle-right"></i></a>
      <a class="dropdown-item" href="#">Menu 4 <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="footer-content">

    </div>
  </div>
</div>



